export HIPCHAT_TOKEN=abc1234
export HIPCHAT_ROOM=SomeRoom
export LED_SERVICE_URL=http://nowhere.com
export INITIAL_STATE_ACCESS_KEY=def567
export HIPCHAT_KEY=ghi890
export ENVIRONMENT=dev
export DYNAMO_API_KEY=jkl123
export DYNAMO_API_URL=https://somewhereelse.com
export REDIS_ANIMATION_QUEUE=LED_REDIS_QUEUE
